*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}

body{
    background: #eaeaea;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

header .logo{
    font-size: 25px;
    color: #222;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a{
    display: inline-block;
    font-size: 18px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s* var(--i));
   
}

.navbar a:hover,
.navbar a.active{
    color: #1743e3;
}

.social-media{
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
    

}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
    opacity: 0;
    animation: slideSci .5s ease forwards;
    animation-delay: calc(.2s* var(--i));

}

.social-media a:hover{
    border-color: #eaeaea;
}

.social-media a i{
    font-size: 24px;
    color: #eaeaea;
    transform: rotate(-45deg);
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    position: relative;
    overflow: hidden;
}

.home-content{
    max-width: 630px;
}

.home-content h1{
    font-size: 50px;
    line-height: 1.2;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content h3{
    font-size: 40px;
    color: #1743e3;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p{
    font-size: 16px;
    margin: 15px 0 30px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1.6s;
}

.btn{
    display: inline-block;
    padding: 10px 28px;
    background:#1743e3 ;
    border: 2px solid #1743e3;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    font-size: 16px;
    text-decoration: none;
    color: #eaeaea;
    letter-spacing: 1px;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.btn:hover{
    background: transparent;
    color: #1743e3;
}

.home-img{
    position: relative;
    width: 450px;
    height: 450px;
    right: -7%;
    transform: rotate(45deg);
}

.home-img .hpimg{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eaeaea;
    border: 25px solid #1743e3;
    box-shadow: -15px 15px 15px rgba(0,0,0.2);
    opacity: 0;
    animation: zoomOut 1s ease forwards;
    animation-delay: 1.6s;
}

.home-img .hpimg img{
    position: absolute;
    top: 110px;
    left: -250px;
    max-width: 750px;
    transform: rotate(-45deg);
}

 .home .hpimg2{
    position: absolute;
    width: 700px;
    height: 700px;
    background: #1743e3;
    transform: rotate(45deg);
    top: -25%;
    right: -25%;
    z-index: -1;

}

 @keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
 }

 @keyframes slideTop{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
 }

 @keyframes slideBottom{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
 }

 @keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
 }

 

 @keyframes slideSci{
    0%{
        transform: translateX(100px) rotate(45deg);
        opacity: 0;
    }

    100%{
        transform: translateX(0) rotate(45deg);
        opacity: 1;
    }
 }

 @keyframes zoomOut{
    0%{
        transform: scale(1.1);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
 }


 .footer{
    background-color: #24262b;
    padding: 70px 0;
    line-height: 1.5;
 }

 .container{
    max-width: 1170px;
    margin: auto;
 }

 ul{
    list-style: none;
 }

 .row{
    display: flex;
    flex-wrap: wrap;
 }

 .footer-col{
    width: 25%;
    padding: 0 15px;

 }

 .footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
 }

 .footer-col h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    width: 50px;
    box-sizing: border-box;
 }

 .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
 }

 .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    color: #bbbb;
    display: block;
    transition: all 0.3s ease;
 }

 .footer-col ul li a:hover{
    color: #fff;
    padding-left: 8px;
 }

 .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
 }

 .footer-col .social-links a:hover{
    color: #24262b;
    background-color: #fff;
    
 }


 @media(max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    
 }

 @media(max-width:574px){
    .footer-col{
        width: 100%;
        
    }
    
 }




    
 



